@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

:root {

    --clr-neutral-100: hsl(0, 0%, 100%);


    --clr-primary-500: hsl(0, 0%, 42%);
    --clr-primary-950: hsl(0, 0%, 7%);


    --clr-accent-400: hsl(47, 88%, 63%);

    /*font za text*/
    --ff-primary: "Figtree", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);


    --fw-regular: 500;
    --fw-bold: 800;

    /*osnove velicine fonta*/
    --fs-350: .875rem;
    --fs-500: 1.5rem;

    --padding: 1.5rem;
}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* utility */

.wrapper {
    --max-width: 38ch;
    width: var(--max-width);
    margin: auto;
    padding: var(--padding);
    color: var(--clr-primary-950);
    background-color: var(--clr-neutral-100);
    border: 1px solid var(--clr-primary-950);
    border-radius: 1rem;
    box-shadow: .5rem .5rem 2px 1px var(--clr-primary-950);
    display: grid;
    gap: 1.5rem;
    justify-items: start;
}

/* general */

body {
    height: 100%;
    display: grid;
    background-color: var(--clr-accent-400);
    font-family: var(--ff-body);
}

/* ilustration */

.ilustration img {
    border-radius: 1rem;
}

/* button */


/* published */

.button {
    /* margin-block: var(--padding); */
    background-color: var(--clr-accent-400);
    font-weight: var(--fw-bold);
    padding: .25rem .75rem;
    border-radius: .25rem;
}

.published {
    display: grid;
    gap: .875rem;
    justify-items: start;
}

.smaller {
    font-size: var(--fs-350);
}

a {
    text-decoration: none;
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-950);
}

a:hover {
    color: var(--clr-accent-400);
}

.light-color {
    color: var(--clr-primary-500);
}

/* avatar */

.avatar {
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

.avatar p {
    font-weight: var(--fw-bold);
}