* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    height: 100vh;
    font-size: 5rem;
    margin: auto auto;
}

.clock .block {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    background-color: hsl(40, 100%, 50%);
}