/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */

:root {

    --clr-neutral-100: hsl(0, 0%, 100%);

    --clr-primary-100: hsl(210, 46%, 95%);
    --clr-primary-200: hsl(212, 23%, 69%);
    --clr-primary-800: hsl(214, 17%, 51%);
    --clr-primary-900: hsl(217, 19%, 35%);

    --ff-primary: "Manrope", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 500;
    --fw-bold: 700;

    --fs-400: 1rem;
    --fs-450: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
    --fs-800: 3.5rem;
    --fs-900: 4.5rem;

    --padding: 2.375rem;
}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* utility classes */


/* general classes */

body {
    font-family: var(--ff-body);
    font-weight: var(--ff-regular);
    font-size: 0.8125rem;
    letter-spacing: 1px;
    color: var(--clr-primary-900);
    background-color: var(--clr-primary-100);

    /* for this project only */
    display: grid;
    place-content: center;
    margin: 1rem;
}

.display-none {
    display: none;
}

/* main classes */

.article-preview-container {
    width: 730px;
    display: flex;
    align-items: center;
}

.drawers-img {
    border-radius: 10px 0 0 10px;
    width: 300px;
    height: 290px;
    /* display: block; */
}

.article-content-container {
    background-color: var(--clr-neutral-100);
    border-radius: 0 10px 10px 0;
    padding: 2rem;
    width: 500px;
    height: 290px;
}

.main-heading {
    /* color: var(--clr-primary-900); */
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    /* line-height: 1.5; */
    letter-spacing: 0.25px;
    padding-bottom: 1rem;
}

.preview-text {
    padding-bottom: .5rem;
}

.author-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.date-name-avatar-container {
    display: flex;
    align-items: center;
}

.author-avatar-img {
    border-radius: 50%;
    width: 40px;
    margin-right: 1rem;
}

.author-name {
    font-weight: var(--fw-bold);
    margin-top: 1rem;
}

.share-btn-container {
    height: 32px;
    width: 32px;
    background-color: var(--clr-primary-100);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.share-shape-container {
    background-color: var(--clr-primary-900);
    border-radius: 7px;
    width: 248px;
    height: 60px;
    position: absolute;
    left: 215px;
    top: -55px;
}

.share-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
    column-gap: 20px;
}

.share-text-p {
    color: var(--clr-primary-100);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.mobile-author-area {
    display: none;
}

.mobile-avatar-container {
    display: none;
}

.mobile-share-btn-container {
    display: none;
}

/* media query */

@media screen and (max-width: 767px) {

    .article-preview-container {
        width: 95%;
        height: 100vh;
        /* margin: 0 auto; */
        flex-direction: column;
        /* padding: 1rem; */
    }

    .article-img-container {
        width: 100%;
    }

    .drawers-img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        /* height: 290px; */
        display: block;
    }

    .article-content-container {
        border-radius: 0 0 10px 10px;
        width: 100%;
        padding: 0rem;
    }

    .author-info {
        display: none;
    }

    /* mobile author area */

    .mobile-author-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
        /* display: none; */
    }

    .mobile-avatar-container {
        display: flex;
        align-items: center;
    }

    .mobile-share-btn-container {
        height: 32px;
        width: 32px;
        background-color: var(--clr-primary-100);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .mobile-social-sharing-bar {
        width: 100%;
        background-color: var(--clr-primary-900);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        /* padding: 1rem; */
        display: none;
    }

    .mobile-share-icons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        column-gap: 20px;

    }

    .mobile-social-sharing-btn-container {
        height: 32px;
        width: 32px;
        background-color: var(--clr-primary-100);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}