@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {

    /* Transparent white (paragraphs) */
    --clr-neutral-100: hsla(0, 0%, 100%, 0.75);
    /* Very light gray (background, headings, buttons) */
    --clr-neutral-200: hsl(0, 0%, 95%);

    --clr-primary-400: hsl(31, 77%, 52%);
    --clr-primary-800: hsl(184, 100%, 22%);
    --clr-primary-900: hsl(179, 100%, 13%);

    --ff-primary: "Lexend Deca", sans-serif;
    --ff-accent: "Big Shoulders", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-accent);

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: 1rem;
    --fs-450: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
    --fs-800: 3.5rem;
    --fs-900: 4.5rem;

    /* --padding: 5rem; */
}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* utility classes */

.wrapper {
    --max-width: 1140px;
    /* --padding: 1rem; */

    width: min(var(--max-width), 100%);
    margin-inline: auto;
    border-radius: 1rem;
    overflow: hidden;
}

.even-columns {
    display: grid;
}

@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-primary-800 {
    background-color: var(--clr-primary-800);
}

.bg-primary-900 {
    background-color: var(--clr-primary-900);
}

.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-primary-800 {
    color: var(--clr-primary-800);
}

.text-primary-900 {
    color: var(--clr-primary-900);
}

.heading {
    font-family: var(--ff-heading);
    text-transform: uppercase;
    font-size: var(--fs-600);
}

.padding-400 {
    padding: 3rem;
}

/* general styling */

body {
    font-family: var(--ff-body);
    font-weight: var(--ff-regular);
    font-size: 0.9375rem;
    background-color: var(--clr-neutral-200);

    /* for this project only */
    display: grid;
    place-content: center;
    /* margin: 1rem; */
}

.button {
    cursor: pointer;
    border: 0;
    padding: 0.75rem 2rem;
    background-color: var(--clr-neutral-200);
    border: 2px solid var(--clr-neutral-100);
    border-radius: 100vmax;
    font-weight: var(--fw-bold);
    /* min-width: 0; */
}

.button:is(:hover, :focus) {
    background-color: transparent;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-regular);
}

/* article */

article {
    max-width: 36ch;
    display: grid;
    gap: 2rem;
    justify-items: left;
    color: var(--clr-neutral-100);

}

/* attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}