@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 20px 10px hsl(0, 0%, 60%);
    padding: 30px 10px;
}

.container .display {
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
    overflow: hidden;
}

.container .display #displayHistory {
    text-align: right;
    padding: 8px;
    opacity: 0.3;
}

.container .display #displayMain {
    text-align: right;
    height: 3rem;
    padding: 0px 8px;
    font-size: 2.5rem;
    overflow: ellipsis;
}

.container .display #displayCurrent {
    text-align: left;
    padding: 8px;
    opacity: 0.3;
}

.container .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.container .buttons .button:first-child {
    background-color: hsl(0, 100%, 50%);
}

.container .buttons .button:first-child:hover {
    background-color: hsl(0, 50%, 50%);
    color: white;
}

.container .buttons .button {
    text-align: center;
    line-height: 70px;
    font-size: 2rem;
    color: hsl(40, 35%, 75%);
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(240, 50%, 80%);
    border-radius: 25px;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

.container .buttons .button:hover {
    color: hsl(240, 55%, 65%);
    background-color: hsl(0, 0%, 80%);
    border: 2px solid hsl(240, 50%, 20%);
}

.container .buttons .btnCalculate {
    grid-column: 3 / span 2;
    background-color: hsl(0, 0%, 80%);
    color: black;
}

.container .buttons .btnCalculate:hover {
    background-color: hsl(0, 0%, 50%);
    color: white;
}