@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --clr-neutral-100: hsl(0, 100%, 100%);

    --clr-primary-100: hsl(275, 100%, 97%);
    --clr-primary-600: hsl(292, 16%, 49%);
    --clr-primary-650: hsl(292, 50%, 49%);

    --clr-primary-950: hsl(292, 42%, 14%);

    --ff-primary: "Work Sans", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-400: 1rem;
    --fs-600: 3.5rem;

    --padding: 2.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* utility */

.wrapper {
    --max-width: 65ch;

    width: var(--max-width);
    margin: auto;
    color: var(--clr-primary-950);
    background-color: var(--clr-neutral-100);
    padding: var(--padding);
    border-radius: 1rem;
}

/* general */

body {
    font-family: var(--ff-body);
    background-color: var(--clr-primary-100);
    background-image: url(./images/background-pattern-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
}

/* faq */

.faq {
    display: flex;
    gap: var(--padding);
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

/* accordion */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    padding-block: 1rem;
    width: 100%;
    text-align: left;
    font-weight: var(--fw-bold);
    border: none;
    outline: none;
    background-color: transparent;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    color: var(--clr-primary-650);
}

.accordion:after {
    content: url(./images/icon-plus.svg);
    float: right;
    /* margin-left: 5px; */
}

.active:after {
    content: url(./images/icon-minus.svg);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    /* padding: 0 18px; */
    margin-bottom: var(--padding);
    background-color: var(--clr-neutral-100);
    display: none;
    overflow: hidden;
    color: var(--clr-primary-600);
}