@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(300, 24%, 96%);
    --clr-neutral-600: hsl(303, 10%, 53%);

    --clr-primary-400: hsl(333, 80%, 67%);
    --clr-primary-700: hsl(300, 43%, 22%);

    --ff-primary: "League Spartan", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-400: 1em;
    --fs-450: 1.125em;
    --fs-500: 1.25rem;
    --fs-600: 2em;
    --fs-700: 2.5rem;
    --fs-800: 3.5rem;
    --fs-900: 4.5rem;

    --size-100: 1em;
    --size-200: 1.25em;
    --size-300: 2em;
    --size-400: 3em;

    --padding: 1.5em
}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* utility classes */
.text-neutral-200 {
    color: var(--clr-neutral-200);
}

.text-neutral-600 {
    color: var(--clr-neutral-600);
}

.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-primary-700 {
    color: var(--clr-primary-700);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.bg-neutral-200 {
    background-color: var(--clr-neutral-200);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-primary-700 {
    background-color: var(--clr-primary-700);
}

.padding-block-100 {
    padding-block: var(--size-100);
}

.padding-block-200 {
    padding-block: var(--size-200);
}

.padding-block-300 {
    padding-block: var(--size-300);
}

.padding-block-400 {
    padding-block: var(--size-400);
}

.padding-inline-100 {
    padding-inline: var(--size-100);
}

.padding-inline-200 {
    padding-inline: var(--size-200);
}

.padding-inline-400 {
    padding-inline: var(--size-400);
}

.wrapper {
    --max-width: 1200px;
    /* --padding: 1.75em; */

    width: min(var(--max-width), 100%);
    margin-inline: auto;
}

h1 {
    font-size: var(--fs-700);
    /* text-wrap: balance; */
    line-height: 0.75;
    text-align: center;
}

.even-columns {
    display: grid;
    gap: 1.5rem;
    margin-block: 1.5rem;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
    gap: 1rem;

}

/* general styling */

body {
    font-family: var(--ff-body);
    font-weight: var(--ff-regular);
    font-size: 0.9375rem;
    background-color: var(--clr-neutral-100);
    line-height: 1.3;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 50%;

    /* for this project only */
    display: grid;
    place-content: center;
    margin: 1.2rem;
}

.heading-text {
    text-align: center;
}

article,
.card {
    border-radius: .75rem;
}

.card {
    padding: calc(var(--padding) * 1.5) calc(var(--padding) * 1.125);
}

article {
    display: grid;
    gap: 0.5rem;
    justify-items: center;
    padding: 1rem;
}

article>div>img {
    height: 1rem;
    padding-inline: .25rem;
}

.personal-pic {
    height: 40px;
    border-radius: 100%;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}

/* attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 50em) {

    body {
        font-size: 1.125em
    }

    .even-columns {
        grid-auto-flow: column;
        gap: 2rem;
        grid-auto-columns: 1fr;
    }

    h1 {
        font-size: var(--fs-900);
        text-align: left;
    }

    .heading-text {
        margin-top: 2rem;
        font-size: var(--fs-500);
        text-align: left;
    }

    .ratings {
        align-content: center;
    }

    article {
        width: 30rem;
        display: flex;
        align-items: center;
    }

    article:last-of-type {
        margin-left: auto;
    }

    article:nth-of-type(2) {
        margin-inline: auto;
    }

    .card {
        text-wrap: balance;
    }

    .card:nth-of-type(2) {
        transform: translateY(3rem);
    }

    .card:last-of-type {
        transform: translateY(6rem);
    }


}